.searchBox{
    padding :2px;
    margin: 3px 3px;
    height: 30px;
    border: 2px solid black;
}

.subContentWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 48px;
    margin-bottom: 150px;
}

.contentList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeCategory{

    height: 35px;
    font-size: 1.1rem;
    border: none;
    border-radius: 16px;
    
}

.url{
    display: inline;
}

.mainText{
    margin-top:48px;

    font-weight: 600;
    color: #242428;
    font-size: 2.5rem;
    line-height: 1.39;
    letter-spacing: -1px;
}

.subText{
    font-weight: 600;
    color: #242428;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

.subWrapper2{
    
    background-color: aquamarine;
}

.homeBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background: #f5f5f5;
    border-radius: 16px;

}

.homeContent{
    width: 80%;
    margin-bottom: 5px;
    font-size: 1.2rem;
    background-color: f5f5f5;
    text-align: center;
    border-radius: 16px;
}

.container{
    position: relative; 
    height: 40vh;
    
}

.box{
    top:-96px;
    left: 0;
    position: absolute; 
    width: 100%;
}

.homeTitle{
    font-weight: 500;
    color: #242428;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.3px;
}