.searchBox{
    padding :2px;
    margin: 3px 3px;
    height: 30px;
    
border: 2px solid black;
}

.category{
    display: inline;
    border: 1px solid black;
    border-radius: 16px;
}

.url{
    display: inline;
    /* padding: 0; */
    /* margin:0; */
}

.subWrapper2{
    
    background-color: aquamarine;
}

.container{
    position: relative; 
    height: 300px;
    border:1px solid black;
    /* background-color: aqua; */
    
}

.box{
    top:-20px;
    left: 0;
    position: absolute; 
    width: 100%;
    height: 200px;
    background-color: aqua;
    border-radius: 16px;
    
}
