.board-main {
    color:#585858;
    
}

.board-main-month-period {
    width: 200px;
    justify-content: space-between;
}

.board-main-month-period a {
    line-height: 27px;
    margin:0 3px;
    width: 67px;
    height: 31px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgba(88, 88, 88, 0.77);
    cursor: pointer
}